<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/nav_footer.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;800&display=swap" rel="stylesheet">

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="MyOnlyHouse.pl" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">MyOnlyHouse</a></li>
            <li>
                <a href="/registration">
                    <span class="material-symbols-outlined">how_to_reg</span>Rejestracja
                </a>
            </li>
            <li>
                <a href="/login">
                    <span class="material-symbols-outlined">login</span>Logowanie
                </a>
            </li>
        </ul>
    </nav>

    {{{body}}}

    <footer>
        <div class="footerBox">
            <a href="#"><span id="footerLogo" style="font-size: 1.1vw; font-weight: bold; letter-spacing: 1px;">MyOnlyHouse.pl</span></a>
            <br /> <br />
            Serwis skierowany dla osób chcących wynająć  mieszkanie.
            <br />
            2022 &copy Copyright
        </div>
        <div class="footerBox">
            <span class="footerTitle">Menu:</span>
            <ul>
                <li><a href="index.html"> Strona główna </a></li>
                <li><a href="registration.html"> Rejestracja </a></li>
                <li><a href="login.html"> Logowanie </a></li>
            </ul>
        </div>
        <div class="footerBox">
            <span class="footerTitle">Obserwuj nas:</span>
            <ul>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Messenger</a></li>
                <li><a href="#">Twitter</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>