<h1 style="display: block;
    width: 500px;
    margin-top: 15vw;
    margin-bottom: 3vw;
    margin-left: auto;
    margin-right: auto;">
    404 - nie znaleziono strony
</h1>

<button style="display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20vw;"
        class="standard-button"
        role="button"
        onclick="location.href='/'">
    Powrót na stronę główną
</button>
