<main>

    <div class="account-created-panel">
        <div class="bold-text-label account-created-label">Gratulacje! Twoje konto zostało utworzone. </div>
    </div>

    <div class="wrapper">
        <button class="standard-button" role="button" onclick="location.href='/';">Powrót na stronę
            główną</button>
    </div>
</main>