<main>

    <form  method="POST" action="/home">
    <div class="panel">
        <div class="small-text-label">Lokalizacja mieszkania: </div>
        <input type="text" name="lokalizacja_mieszkania" placeholder="Wpisz lokalizację pobytu" >

        <div class="small-text-label" style="margin-bottom: 10px">Cena za dobę: </div>
        <div class="horizontal-box">
            <input class="first" type="number" name="cena_za_dobe_od" placeholder="Cena za dobę od [PLN]">
            <input class="second" type="number" name="cena_za_dobe_do" placeholder="Do [PLN]" >
        </div>

        <div class="small-text-label" style="margin: 10px 0">Zameldowanie i wymeldowanie: </div>
        <div class="horizontal-box">
            <input class="first" type="date" name="zameldowanie" id="zameldowanie" placeholder="Zameldowanie" min="" max="">
            <input class="second" type="date" name="wymeldowanie" id="wymeldowanie" placeholder="Wymeldowanie" min="" max="">
        </div>

        <p style="text-align: center; visibility: hidden" id="error_old"> Wprowadzono date z przeszłości </p>

        <div class="options-grid">
            <div class="horizontal-box">
                <div class="small-text-label">Parking: </div>
                <input type="checkbox" name="parking" >
                <span class="checkmark"></span>
            </div>
            <div class="horizontal-box">
                <div class="small-text-label">Zwierzęta: </div>
                <input type="checkbox" name="zwierzeta">
                <span class="checkmark"></span>
            </div>

            <div class="horizontal-box">
                <div class="small-text-label">Internet: </div>
                <input type="checkbox" name="internet" >
                <span class="checkmark"></span>
            </div>

            <div class="horizontal-box">
                <div class="small-text-label">Balkon: </div>
                <input type="checkbox" name="balkon">
                <span class="checkmark"></span>
            </div>

            <div class="horizontal-box">
                <div class="small-text-label">Cisza nocna: </div>
                <input type="checkbox" name="cisza_nocna">
                <span class="checkmark"></span>
            </div>

            <div class="horizontal-box">
                <div class="small-text-label">Telewizja: </div>
                <input type="checkbox" name="telewizja">
                <span class="checkmark"></span>
            </div>

            <div class="horizontal-box">
                <div class="small-text-label">Łazienka: </div>
                <input type="checkbox" name="lazienka">
                <span class="checkmark"></span>
            </div>

            <div class="horizontal-box">
                <div class="small-text-label">Taras: </div>
                <input type="checkbox" name="taras">
                <span class="checkmark"></span>
            </div>
        </div>
<!--        <div class="horizontal-box-2">-->
<!--            <div class="small-text-label">Maksymalna odległość: </div>-->
<!--            <input class="second" type="text" name="maksymalna_odleglosc" placeholder="W [KM]" >-->
<!--        </div>-->
    </div>

    <div class="wrapper">
        <button class="standard-button" type="submit" role="button" id="home_button">Wyszukaj
            mieszkania</button>
    </div>
    </form>
    <script src="./public/scripts/home_date_validation.js" defer></script>
</main>