<main>
    <div class="panel registration-panel">
        <div class="bold-text-label registration-label">Logowanie </div>

        <div class="small-text-label">Login: </div>
        <input type="text" name="login" placeholder="">

        <div class="small-text-label">Hasło: </div>
        <input type="text" name="haslo">

        <a href="forgot_password.html">Zapomniałeś hasła?</a>
    </div>

    <div class="wrapper">
        <a class="btn quarter-width" role="button" href="/">Zaloguj</a>
    </div>
</main>