<main>
    <div class="panel registration-panel" style="min-height: 120px;">
        <div class="bold-text-label registration-label">Twoje oferty </div>

        <div class="offer">
            <img src="/img/offer_ex.png" alt="">
            <div class="bold-text-label offer-label">Nazwa mieszkania 1</div>
            <button class="standard-button" style="min-width: 200px;" role="button"
                onclick="location.href='offer_deleted.html'">Usuń ofertę</button>
        </div>

        <div class="offer">
            <img src="/img/offer_ex.png" alt="">
            <div class="bold-text-label offer-label">Nazwa mieszkania 2</div>
            <button class="standard-button" style="min-width: 200px;" role="button"
                onclick="location.href='/offer_deleted'">Usuń ofertę</button>
        </div>
</main>