<main>

    <div class="panel my_offers-panel">
        <h1> Twoje oferty</h1>

        {{#each offer}}
        <div class="offer">
            <img src="{{this.interior_1}}" alt="">
            <div class="offer-label">
                <div class="bold-text-label">{{this.name}}</div>
                <div class="small-text-label"{{this.address}}</div>
                <div class="small-text-label">{{this.phone_number}}</div>
            </div>
            <div class="offer-label">
                <button class="standard-button" style="min-width: 200px;" role="button"
                            onclick="location.href='offer_deleted.html'">Usuń ofertę</button>
            </div>
        </div>
        {{/each}}

    </div>
</main>

