<main>

    <div class="panel registration-panel" style="min-height: 120px;">
        <div class="bold-text-label registration-label">Przypomnij hasło </div>

        <div class="small-text-label">Adres Email: </div>
        <input type="text" name="email" placeholder="Podaj swój adres e-mail">
    </div>

    <div class="wrapper">
        <button class="standard-button" role="button" onclick="location.href='19_reminder.html'">Przypomnij hasło</button>
    </div>
</main>
<!--
password reminder
offer added
password reminder sent

add offer
-->