<main>

    <div class="reminder-panel flex-column">
        <h1 class="bold-text-label account-created-label reminder-message">Wysłano przypomnienie!</h1>
        <div class="reminder-message">Jeśli adres był powiązany z kontem,
            wiadomość o przypomnieniu hasła została
            wysłana.</div>
    </div>

    <div class="wrapper">
        <a class="btn quarter-width" role="button" href="/login">Powrót do logowania</a>
    </div>
</main>