<main>

    <form class="panel registration-panel" style="min-height: 120px;" action="/password_reminder_sent">
        <div class="bold-text-label registration-label">Przypomnij hasło </div>

        <div class="small-text-label">Adres Email: </div>
                <input type="email" name="email" placeholder="Podaj swój adres e-mail" style="box-sizing: border-box; width: 100%"
                      id="mail1" required />
                <p style="text-align: center; visibility: hidden" id="pass_info"> Na powyższy adres został wysłany link do resetowania hasła </p>


            <div class="wrapper">
                <input type="submit" class="standard-button" role="button">
            </div>
    </form>
</main>
<!--
password reminder
offer added
password reminder sent

add offer
-->