<main>
    <div class="panel registration-panel">
        <div class="bold-text-label registration-label">Rejestracja konta </div>

        <div class="small-text-label">Imię i nazwisko: </div>
        <div class="horizontal-box">
            <input class="first" type="text" name="firstname" placeholder="imię">
            <input class="second" type="text" name="surname" placeholder="nazwisko">
        </div>

        <div class="small-text-label">Numer telefonu: </div>
        <input type="text" name="firstname" placeholder="podaj swój numer telefonu">

        <div class="small-text-label">Adres email: </div>
        <input type="text" name="firstname" placeholder="podaj swój adres email">

        <div class="small-text-label">Hasło: </div>
        <input type="text" name="firstname" placeholder="wprowadź swoje hasło">

        <div class="small-text-label">Powtórz hasło: </div>
        <input type="text" name="firstname" placeholder="wprowadź ponownie hasło">
    </div>

    <div class="wrapper">
        <button class="standard-button" role="button"
            onclick="location.href='/account_created';">Zarejestruj</button>
    </div>
</main>