<main>
  <form action="/registration" method="post">
    <div class="panel registration-panel">
      <div class="bold-text-label registration-label">Rejestracja konta </div>

      <div class="small-text-label">Imię i nazwisko: </div>
      <div class="horizontal-box">
        <input class="first" type="text" name="firstname" id="firstname" placeholder="imię" required/>
        <input class="second" type="text" name="surname" id="surname" placeholder="nazwisko" required/>
      </div>

      <div class="small-text-label">Numer telefonu: </div>
      <input type="text" name="phoneNumber" id="phoneNumber" placeholder="+48 123 123 123" required/>

      <div class="small-text-label">Adres email: </div>
      <input type="text" name="mail" id="mail" placeholder="przyklad@przyklad.pl" required/>

      <div class="small-text-label">Hasło: </div>
      <input type="password" name="password" id="password" placeholder="hasło" required/>

      <div class="small-text-label">Powtórz hasło: </div>
      <input type="password" name="passwordR" id="passwordR" placeholder="powtórz hasło" required/>
      <p style="color: red" id="msg_password"> Wprowadzone hasła nie są takie same</p>
    </div>

    <div class="wrapper">
      <input  type="submit" class="standard-button" value="Zarejestruj"/>
    </div>
  </form>
</main>