<main>
    <div class="panel report">
        <h1 class="bold-text-label">Zgłoszenie</h1>
        <p class="small-text-label">Podaj powód zgłoszenia</p>
        <textarea></textarea>
        <div class="wrapper">
            <a href="/report_sent.html"><button class="standard-button add-add-button" role="button">Prześlij
                    zgłoszenie</button></a>
        </div>
    </div>
</main>