<main>

    <div class="panel registration-panel" style="min-height: 120px;">
        <div class="bold-text-label registration-label">Twoje rezerwacje </div>

        <div class="offer">
            <img src="offer_ex.png" alt="">
            <div class="offer-label">
                <div class="bold-text-label" style="line-height: 40px;">Nazwa mieszkania 2</div>
                <div class="small-text-label" style="line-height: 20px;">Adres</div>
                <div class="small-text-label" style="line-height: 20px;">Nr. telefonu</div>
            </div>
            <div class="offer-label" style="height: 100px;">
                <div style="padding: 10px;"><button class="standard-button" style="min-width: 200px;" role="button"
                        onclick="location.href='/accommodation_report'">Zgłoś problem</button></div>
                <div style="padding: 10px;"><button class="standard-button" style="min-width: 200px;" role="button"
                        onclick="location.href='review.html'">Oceń</button></div>
            </div>
        </div>
</main>