<main>

    <div class="panel reservation-panel">
        <h1> Twoje rezerwacje</h1>
        <div class="offer">
            <img src="../img/interior1.jpg" alt="">
            <div class="offer-label">
                <div class="bold-text-label">Mieszkanie nad zalewem</div>
                <div class="small-text-label">ul. Cicha 9, Ciechocinek</div>
                <div class="small-text-label">+48 321 321 123</div>
            </div>
            <div class="offer-label">
                <div>
                    <button class="standard-button" role="button" onclick="location.href='/accommodation_report'"> Zgłoś problem
                    </button>
                </div>
                <div style="padding: 10px;">
                    <button class="standard-button" role="button" onclick="location.href='/review'"> Oceń
                    </button>
                </div>
            </div>
        </div>


        <div class="offer">
            <img src="../img/interior2.jpg" alt="">
            <div class="offer-label">
                <div class="bold-text-label">Apartament na obrzeżach</div>
                <div class="small-text-label">ul. Kozia 5/32, Kraków</div>
                <div class="small-text-label">+48 123 123 123</div>
            </div>
            <div class="offer-label">
                <div>
                    <button class="standard-button" role="button" onclick="location.href='/accommodation_report'"> Zgłoś problem
                    </button>
                </div>
                <div style="padding: 10px;">
                    <button class="standard-button" role="button" onclick="location.href='/review'"> Oceń
                    </button>
                </div>
            </div>
        </div>

        <div class="offer">
            <img src="../img/interior3.jpg" alt="">
            <div class="offer-label">
                <div class="bold-text-label">Pokój na Pradze</div>
                <div class="small-text-label">ul. Rzeszowska 51, Warszawa</div>
                <div class="small-text-label">+ 48 824 123 123</div>
            </div>
            <div class="offer-label">
                <div>
                    <button class="standard-button" role="button" onclick="location.href='/accommodation_report'"> Zgłoś problem
                    </button>
                </div>
                <div style="padding: 10px;">
                    <button class="standard-button" role="button" onclick="location.href='/review'"> Oceń
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>