<main>

	<div class='panel reservation-panel'>
		<h1> Twoje rezerwacje</h1>
		{{#each myOffers}}
			<div class='offer'>
				<img src='../img/{{this.imgPath}}' alt='' />
				<div class='offer-label'>
					<div
						class='bold-text-label'
					>{{this.desc}}</div>
					<div class='small-text-label'>{{this.address}}</div>
					<!-- <div class='small-text-label'>{{this.phone_number}}</div> -->
				</div>
				<div class='offer-label'>
					<div>
						<button
							class='standard-button'
							role='button'
							onclick="location.href='/accommodation_report'"
						>
							Zgłoś problem
						</button>
					</div>
					<div style='padding: 10px;'>
						<button
							class='standard-button'
							role='button'
							onclick="location.href='/review'"
						>
							Oceń
						</button>
					</div>
				</div>
			</div>
		{{/each}}

	</div>
</main>