<div class="sort">
    <button class="standard-button" role="button">Sortowanie ↓</button>
    <div class="sort-links">
        <ul>
            <li><a href="#">Najwyższa cena</a></li>
            <li><a href="#">Najniższa cena</a></li>
            <li><a href="#">Najwyższa ocena</a></li>
            <li><a href="#">Najniższa ocena</a></li>
        </ul>
    </div>
</div>

    <main class="search-results-over">
        <div class="search-results-single">
            <a href="/offer_preview" class="search-result">
                <img src="/img/house1.jpg" alt="house"/>
                <div class="search-result-props">
                    <p>Nazwa domu</p>
                    <p>Cena</p>
                    <p>Lokalizacja</p>
                    <p>Ocena</p>
                </div>
            </a>

        </div>

        </div>
        <div class="search-results-single">
            <a href="/offer_preview" class="search-result">
                <img src="/img/house2.jpg" alt="house"/>
                <div class="search-result-props">
                    <p>Nazwa domu</p>
                    <p>Cena</p>
                    <p>Lokalizacja</p>
                    <p>Ocena</p>
                </div>
            </a>

        </div>
        <div class="search-results-single">
            <a href="/offer_preview" class="search-result">
                <img src="/img/house.jpg" alt="house"/>
                <div class="search-result-props">
                    <p>Nazwa domu</p>
                    <p>Cena</p>
                    <p>Lokalizacja</p>
                    <p>Ocena</p>
                </div>
            </a>
        </div>
        <div class="search-results-single">
            <a href="/offer_preview" class="search-result">
                <img src="/img/house3.jpg" alt="house"/>
                <div class="search-result-props">
                    <p>Nazwa domu</p>
                    <p>Cena</p>
                    <p>Lokalizacja</p>
                    <p>Ocena</p>
                </div>
            </a>
        </div>
    </main>