/*
    #00AFF0   niebieski
    #27272B   czarny
    #8A96A3   szary
    #FFF      bialy
*/

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;

}

main {
    display: block;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    min-height: 500px;
}


.standard-button {
    align-items: center;
    background-color: #00AFF0;
    border: 2px solid #00AFF0;
    border-radius: .90rem;

    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 3px 0;
    box-sizing: border-box;

    color: #fff;

    cursor: pointer;

    font-size: 17px;
    font-weight: 400;
    justify-content: center;
    line-height: 1.5;
    /* margin: 0px 0px; */

    /* position: relative; */
    text-decoration: none;
    transition: all 200ms;

    min-width: 350px;

}

.standard-button:hover {
    transform: translateY(1px);
    background-color: #4082ed;
    border-color: #4082ed;
}

.standard-button:active {
    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 3px 0;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.panel {
    background-image: url("../img/image1.png");
    background-size: cover;
    background-position: top;
    min-height: 300px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #bcc5cf;
    padding: 30px;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 8px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #8A96A3;
    border-radius: 5px;
    box-sizing: border-box;

    font-size: 14px;
}

.text-label {
    color: #34373b;
    font-weight: 400;
    font-size: 17px;
}

.bold-text-label {
    color: #34373b;
    font-weight: 600;
    font-size: 17px;
}

.small-text-label {
    color: #34373b;
    font-weight: 400;
    font-size: 15px;
}

.panel {
    margin-top: 50px;
}

.horizontal-box {
    display: flex;
    justify-content: space-between;
}

.horizontal-box-2 {
    margin-top: 20px;
    display: flex;
    justify-content: left;
}

.horizontal-box-2 input {
    width: 11%;
}

.horizontal-box-2 .small-text-label {
    margin-top: 15px;
    margin-right: 30px;
}

.horizontal-box input {
    width: 50%;
}

.horizontal-box .first {
    margin-right: 2%;
}

.horizontal-box .second {
    margin-left: 2%;
}

.options-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.options-grid .horizontal-box input {
    width: min-content;
    justify-self: right;
}


.options-grid .horizontal-box {
    height: 1.5em;
    justify-content: space-between;
    margin-top: 10px;
    width: 80%;
}

.options-grid .horizontal-box .small-text-label {
    width: 60%;
}

.options-grid .horizontal-box .text-label {
    margin-right: 15px;
}

.wrapper {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.registration-panel .registration-label {
    margin-bottom: 25px;
}

.registration-panel {
    width: 30%;
    background-image: url("../img/image1.png");
    background-size: cover;
    background-position: top;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.registration-panel .registration-label {
    margin-bottom: 25px;
}



/* ------------------------------------------------------------------------------------------------------------------------ */
/* search_results */
/* 1 */
.sort {
    width: 70%;

    position: absolute;
    margin-top: 50px;
    margin-left: 220px;
}

.sort-links{
    display: none;
    height: auto;
    flex-direction: column;
    width: 350px;
}

.sort-links ul {
    all:unset;
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: #00AFF0;
    border-radius: .90rem;
    border: 2px solid #00AFF0;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 3px 0;
    min-width: 350px;
    padding: 0;
    margin: 0;
}

.sort-links li a {
    height: 30px;
    border: 0;
}

.search-results-over {
    width: 70%;
    box-sizing: border-box;
    margin-top: 130px;
    padding-top: 30px;
    margin-bottom: 50px;
}


.search-results-single {
    background-color: #DFDFDF;
    border-radius: .20rem;
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
}

.search-results-single:first-of-type {
    width: 100%;
    margin-top: 0;
}


.search-result{
    margin: 0 30px 30px 30px;
    display: grid;
    grid-template-columns: 60% 35%;
    column-gap: 5%;
    justify-content: stretch;
    align-items: stretch;
    text-decoration: none;
    /*border: 2px solid #4082ed;*/
}

.search-result img {
    max-height: 90%;
    max-width: 90%;
    object-fit: fill;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: .40rem;
}

.search-result-props {
    align-self: start;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.search-result-props p {
    text-align: center;
    height: 40px;
    font-size: 1.2em;
    border-radius: .90rem;
    background-color: #00AFF0;
    border: 2px solid #00AFF0;
    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    line-height: 2;
    margin: 0;
}

.paging {
    align-items: center;
    background-color: #00AFF0;
    border: 2px solid #00AFF0;
    border-radius: .90rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    width: 30%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    column-gap: 3px;
    justify-content: center;
    margin-bottom: 100px;
}

.paging a {
    border-radius: .90rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.4em;
    text-align: center;
    height: 100%;
    line-height: 2;
    flex-grow: 1;
}

.paging a:hover {
    background-color: #4082ed;
}

.paging a:nth-of-type(4):hover {
    background-color: #00AFF0;
    cursor: default;
}


/* 2 */


.add-ad-panel {
    width: 40%;
    height: 440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: #8A96A3;
    display: grid;
    /*box-sizing: border-box;*/
    grid-template-columns: 55% 40%;
    grid-template-rows: 5% 87%;
    row-gap: 8%;
    column-gap: 5%;
}

.add-ad-panel-label{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
    grid-row-end: 1;
}

.add-ad-panel-left{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.add-ad-panel-right {
    height: 100%;
}

.add-ad-panel-right textarea {
    height: 380px;
    width: 100%;
    text-align: left;
    writing-mode: vertical-lr;
    resize: none;
}

.add-add-button {
    width: 100%;
    min-width: 0;
}


/* 3 */


.report {
    width: 40%;
    height: 470px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: #8A96A3;
}

.report h1 {
    margin-top: 0;
    font-size: 2em;
    text-align: center;
}

.report textarea {
    resize: none;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
}

.panel {
    margin-top: 50px;
}

.horizontal-box {
    display: flex;
    justify-content: space-between;
}

.horizontal-box-2 {
    margin-top: 20px;
    display: flex;
    justify-content: left;
}

.horizontal-box-2 input {
    width: 11%;
}

.horizontal-box-2 .small-text-label {
    margin-top: 15px;
    margin-right: 30px;
}

.horizontal-box input {
    width: 50%;
}

.horizontal-box .first {
    margin-right: 2%;
}

.horizontal-box .second {
    margin-left: 2%;
}




.wrapper {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}




.account-created-panel {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 400px;
    height: 20px;

    margin-left: auto;
    margin-right: auto;

    background-color: #bcc5cf;

    padding: 30px;
}

.small-margin {
    margin: 5px
}

.fill-all-space {
    flex-grow: 1;
}




input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    width: 190px;
    height: 30px;
}

.btn {
    background-color: #00AFF0;
    border: 2px solid #00AFF0;
    border-radius: .90rem;

    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 3px 0;
    box-sizing: border-box;

    color: #fff;

    cursor: pointer;

    font-size: 17px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    line-height: 1.5;
    /* margin: 0px 0px; */

    /* position: relative; */
    text-decoration: none;
    transition: all 200ms;
    max-width: 100%;
}

.quarter-width {
    width: 50%;

}

select {
    width: 100%;
    border: none;
    color: white;
    background-color: white;
    border-radius: 5px;
    height: 30px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
    align-items: stretch;
}

/* pojemnik na gwiazdki */
body > main > div > div.panel.left-panel > div > div.flex-row > div.flex-column > div:nth-child(5) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 300px;
}

.five-pointed-star-dark {
    margin-left: auto; margin-right: auto;
    --star-dark-color: rgb(139, 139, 139);
    font-size:1em;
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-dark-color);
    border-left: 1em solid transparent;
    transform: rotate(35deg);
}

.five-pointed-star-dark:before {
    border-bottom: 0.8em solid var(--star-dark-color);
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -0.45em;
    left: -0.65em;
    display: block;
    content:"";
    transform: rotate(-35deg);
}

.five-pointed-star-dark:after {
    position: absolute;
    display: block;
    top: 0.03em;
    left: -1.05em;
    width: 0;
    height: 0;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-dark-color);
    border-left: 1em solid transparent;
    transform: rotate(-70deg);
    content:"";
}

.five-pointed-star {
    margin-left: auto; margin-right: auto;
    --star-color:orange;
    font-size:1em;
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(35deg);
   }

   .five-pointed-star:before {
    border-bottom: 0.8em solid var(--star-color);
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -0.45em;
    left: -0.65em;
    display: block;
    content:"";
    transform: rotate(-35deg);
   }

   .five-pointed-star:after {
    position: absolute;
    display: block;
    top: 0.03em;
    left: -1.05em;
    width: 0;
    height: 0;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(-70deg);
    content:"";
   }

.checked {
    color: orange;
}

.right-panel {
    background-image: unset;
    background-color: #DFDFDF;
    margin-left: 4vw;
    width: 20%;
}

.left-panel {
    background-image: unset;
    background-color: #DFDFDF;
    margin-right: 0;
    width: 55%;
}

.half-width {
    width: 50%;
}

.max-width {
    width: 100%;
}



/* ------------------------------------------------------------------------------------------------------------------------ */
/* offer_preview */
img#bigPicture {
    border-radius: 4px;
    width: 22vw;
    height: 22vw;
}

img.small-picture{
    background-size: cover;
    border-radius: 4px;
    margin-right: 6px;
    width: 100px;
    height: 100px;
}

 div.flex-column input[type="checkbox"] {
    height: unset;
}

div.comment h4 {
    margin-bottom: 0.5vw;
    margin-top: 0;
}


.photos {
    margin: 15px;
    padding: 15px;
}

.small-input {
    width: 40%;
}

.reminder-message {
    margin: 10px;
    padding: 15px;
}

.reminder-panel {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 50%;
    height: 20%;

    margin-left: auto;
    margin-right: auto;

    background-color: #bcc5cf;

    padding: 30px;
}

.comment {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 5px;
}

body > main > div > div.panel.right-panel > div > form > button#reserve-button {
    border-radius: 0.70em;
    font-family: 'Montserrat', sans-serif;
    height: 2em;
    letter-spacing: 1px;
    margin-left: 0;
    margin-top: 1vw;
    width: 100%;
}

div.flex-row.space-between a.btn.offer-preview-button {
    border-radius: 0.70em;
    margin-top: 1vw;
    width: 45%;
    letter-spacing: 1px;
}

/* ------------------------------------------------------------------------------------------------------------------------ */
/* contact */
textarea#contact-textarea {
    font-family: "Arial";
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 300px;
    padding: 10px 15px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    font-size: 14px;
    resize: none;
    border: 1px solid #8A96A3;
    border-radius: 5px;
    margin-top: 7px;
}




/* ------------------------------------------------------------------------------------------------------------------------ */
/* reservations */
div.reservation-panel h1 {
    text-align: center;
}

div.offer-label div.bold-text-label {
    line-height: 40px;
}

div.offer-label:nth-of-type(2) div {
    padding: 10px;
}

div.offer-label button.standard-button {
    min-width: 200px;
}


body > main > div > div.offer > img {
    height: 10vw;
    width: 10vw;
}

div.reservation-panel, div.my_offers-panel {
    background-image: unset;
    background-color: #DFDFDF;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.offer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    margin-bottom: 20px;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.offer-label {
    width: 500px;
    text-align: center;
}

.account-created-panel {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 400px;
    height: 20px;

    margin-left: auto;
    margin-right: auto;

    background-color: #bcc5cf;

    padding: 30px;
}


/* ------------------------------------------------------------------------------------------------------------------------ */
/* review.html */
div#review-panel{
    background-image: url("../img/image3.png");
    background-size: cover;
    background-position: top;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 500px;
    padding: 30px;
    width: 60%;
    border-radius: 2px;
}


form#review-form {
    margin-top: -10px;
}

form textarea#rating_confirmationText
{
    font-family: "Arial", Serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;

}


div.txt-center {
    text-align: center;
}

div#rating .hide {
    display: none;
}

div#rating .clear {
    float: none;
    clear: both;
}

div#rating {
    width: 170px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

div#rating > label {
    position: relative;
    cursor: pointer;
    color: #000;
    font-size: 28px;
}

div#rating > label:hover,
div#rating > label:hover ~ label,
div#rating > input.radio-btn:checked ~ label {
    color: transparent;
}

div#rating > label:hover:before,
div#rating > label:hover ~ label:before,
div#rating > input.radio-btn:checked ~ label:before,
div#rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: fixed;
    color: #FFD700;
}

div#review-panel .standard-button {
    align-items: center;
    background-color: #00AFF0;
    border: 2px solid #00AFF0;
    border-radius: .90rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 17px;
    font-weight: 400;
    justify-content: center;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    min-width: 350px;
    text-decoration: none;
    transition: all 200ms;
}

div#review-panel .standard-button:hover {
    transform: translateY(1px);
    background-color: #4082ed;
    border-color: #4082ed;
}

div#review-panel .standard-button:active {
    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 3px 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}


/* ------------------------------------------------------------------------------------------------------------------------ */
/* my_offers */
div.my_offers-panel  .bold-text-label {
    line-height: 40px;
}

div.my_offers-panel h1 {
    text-align: center;
}

div.offer-label button#standard-button {
    min-width: 200px;
}


.images-container {
    width: 80%;
    margin: auto;
}

.image {
    width: 150px;
    height: 150px;
    border: solid 1px white;
}

.file-upload {
    display: none;
}

.required-input {
    color: red;
}
